<ion-view view-title="Continuous Scanner">
    <ion-content>
      <div style="padding:10px;">
        <h4>Continuously scanning for {{beaconType}} beacons:</h4>
        <h4 ng-show="anyBeaconsFound">Beacons found in {{loadingTime}} milliseconds</h4>
      </div>
      <button ng-disabled="beacons.length === 0" class="button button-positive button-block" ng-click="clockInOut()">
        Clock In/Out
      </button>
      <br />
      <ion-list>
        <ion-item ng-repeat="beacon in beacons" type="item-text-wrap">
          <h2><b>UUID:    </b>{{beacon.uuid}}</h2>
          <h2><b>Major:    </b>{{beacon.major}}</h2>
          <h2><b>Minor:    </b>{{beacon.minor}}</h2>
          <h2><b>Proximity:    </b>{{beacon.proximity}}</h2>
          <h2><b>RSSI:    </b>{{beacon.rssi}}</h2>
          <h2><b>TX:    </b>{{beacon.tx}}</h2>
          <h2><b>Accuracy:    </b>{{beacon.accuracy}}</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>